<style>
    .button-container {
        display: flex;
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: flex-start; /* Alinea los elementos en la parte superior */
        height: 100vh; /* Usa toda la altura de la ventana */
    }

    .button-container > div {
        margin: 10px; /* Espacio entre los botones */
    }
</style>

<div class="button-container">
    <div>
        <app-support></app-support>
    </div>
    <div>
        <app-discord-login></app-discord-login>
    </div>
</div>
